/* Create four equal columns */
.col {
    flex: 20%;
    padding: 15px;
    vertical-align: middle;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
}
  

@media screen and (max-width: 992px) {
    .col {
        flex: 25%;
    }
}
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .mobile_hide {
        display: none;
    }
}


  img.social_logos {
      width: 30px;
  }

  .infoBold p {
      font-weight: 600;
  }